<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.madad.jinet.sneakoo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SecondActivity" />
        <activity android:name=".NikeAirShakeActivity" />
        <activity android:name=".YeezyBoostActivity" />
        <activity android:name=".AdidasUltraBoostActivity" />
        <activity android:name=".AdidasNmdActivity" />
        <activity android:name=".NikeLabActivity" />
        <activity android:name=".NikeAirMaxActivity" />
        <activity android:name=".PumaTsugiActivity" />
        <activity android:name=".AsicsGelActivity" />
        <activity
            android:name=".ThirdActitvity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="third_filter" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".InquiriesActivity" />
        <activity android:name=".UpcomingSneakers1Activity" />
        <activity android:name=".UpcomingSneakers2Activity"></activity>
    </application>

</manifest>